<h1>TINAMI auth認証</h1>
<h2>auth認証しませんか</h2>
<%= form_tag(:controller => "figure",:action=>"login", :method => "post") do %>
  <%= label_tag(:mail, "メールアドレス:") %><br />
  <%= text_field_tag(:mail) %><br />
  <%= label_tag(:pass, "パスワード:") %><br />
  <%= password_field_tag(:pass) %><br />
  <%= submit_tag("認証") %>
<% end %>
